@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-page="./Graph-MSI/Index">Access Microsoft Graph on behalf of the app.</a></p>
</div>
